{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">

    {% if user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2>Python Code Editor</h2>
                    </div>
                    <div class="card-body">
                        <iframe src="https://brython.info/tests/editor.html" width="100%" height="600" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'code_editor/script.js' %}"></script>
    {% else %}
        <div class="text-center mt-5">
            <h1>Error 403: Unauthorized Access</h1>
            <p>Oops! It seems like you don't have the necessary permissions to view this page.</p>
            <p>To access this content, please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'signup' %}">sign up</a> for an account.</p>
        </div>
    {% endif %}

</div>

{% endblock %}