{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="d-flex flex-column auth justify-content-center">
  <div class="center">
    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'plogo1.png' %}">
  </div>
  {% if error %}
  <div class="alert alert-danger d-flex align-items-center" role="alert">
     <div>{{error}}</div> 
  </div>
  {% endif %}
  
  <div class="auth-form">
    <h3 class='text-center'>Log in to python hunt!</h1>
    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="exampleFormControlInput1" required/>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" required/>
    </div>
    
    <input class='btn btn-primary' type='submit' value='Log in!'>
    </form>
  </div>
  
  <h6 align='center'>Don't have an account? <a href='{% url "signup" %}' class="">Signup!</a></h6>

</div>
{% endblock %} 
