{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="d-flex flex-column auth justify-content-center">
  <div class="center">
    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'plogo1.png' %}">
  </div>

  <div class="auth-form">
    {% if error %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
       <div>{{error}}</div> 
    </div>
    {% endif %}
    
    <h3 class='text-center'>Sign up to Python Hunt!</h1>
    <form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
  
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="exampleFormControlInput1" required/>
    </div>
  
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Password</label>
      <input type="password" name="passwd" class="form-control" required/>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Confirm Password</label>
      <input type="password" name="cpasswd" class="form-control" required/>
    </div>
    <input class='btn btn-primary' type='submit' value='Sign up!'>
      </form>
  </div>
  
  <h6 align='center'>Already Registered? <a href='{% url "login" %}'>Log in!</a></h6>

</div>

{% endblock %}
