<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<!--NAVBAR -->

  <header class="pb-3 mb-4 border-bottom " >
    <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
      <img src="/Open source/Python_Hunt/producthunt_pro/producthunt/static/plogo1.png" alt="logo" height = 70px width="70px">
      <span class="fs-4">PYTHON HUNT</span>
    </a>
  </header>
 
<!-- WELCOME SECTION-->

  <div class="px-4 pt-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">What is Python Hunt ?</h1>
    <br>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Python Hunt is a open source website created to make python learning easier and faster. 
      <p class="lead mb-4">This is a Django project where you can contribute web pages explaining various concepts in python to X-Evolve , a organisation in Github which aims in  fostering open-source projects that tackle real-life problems</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="https://github.com/X-Evolve/Python_Hunt">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Contribute </button>
      </a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="/Open source/Python_Hunt/producthunt_pro/producthunt/static/plogo1.png" height="250px">
      </div>
    </div>
  </div>

<!-- INTRODUCTION -->

  <div class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/Open source/Python_Hunt/producthunt_pro/producthunt/static/coverpython.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Whats Python ??</h1>
        <br>  
        <p class="lead">Python is a widely used general-purpose, high level programming language. It was created by Guido van Rossum in 1991 and further developed by the Python Software Foundation. </p> 

        <p class = "lead">It was designed with an emphasis on code readability, and its syntax allows programmers to express their concepts in fewer lines of code./p>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="https://docs.python.org/3/">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2"> Python documentation</button>
        </a>
        </div>
      </div>
      <hr>
    </div>
  </div>

<!-- Installation page -->

  <h1 class='display-5 fw-bold lh-1 mb-3' align='center'>Don't have python in your PC?!</h1><br>
  <h5 align='center'>Check out our Python3 installation page to install Python!</h5><br>
  <p align='center'>
  <a href="./installation.html" class="btn btn-primary btn-lg px-4 me-md-2" type="button">Installation Page</a>
  </p>
  <br>

  <!-- Footer-->

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2023 X-Evolve</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </footer>
  </div>

<!-- JAVASCRIPT -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>

