{% extends 'base.html' %}

{% block content %}
{% load static %}
<br>
<br>
<br>
<p align='center'>
  <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'plogo1.png' %}">
</p>
<h3 class='display-6' align='Center'>Welcome to Python Hunt!</h3>
<br>
<p class='muted' align='center'>
  <span class="typewriter-text">Learn Python from Scratch for Free!</span>
</p>

<!-- Adding the typewriter animation to Learn Python from Scartch line -->
<style>
  .typewriter-text {
    display: inline-block; 
    overflow: hidden; 
    white-space: nowrap; 
    border-right: 3px solid #000; 
    animation: typing 2.5s steps(30, end), blink-caret 0.75s step-end infinite;
    font-family: 'Courier New', Courier, monospace; 
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 20%;
    }
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
</style>

<div class='container'>
  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'pylogo.jpg' %}" class="d-block mx-lg-auto img-fluid" width="800" height="600" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Learn Basics of Python Here!</h1>
        <p class="lead">Python Hunt has excellent content in python which is very easy to learn!</p>

         {% if user.is_authenticated %}
         <a class="btn btn-primary" href="{% url 'basicpy' %}" role="button">Start your Learning!</a>
         {% else %}
         <a class="btn btn-primary" href="{% url 'login' %}" role="button">Start your Learning!</a>
         {% endif %}
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'pylogo.jpg' %}" class="d-block mx-lg-auto img-fluid" width="800" height="600" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Play With the Web Integrated Python IDE!</h1>
        <p class="lead">Python Hunt uses excellent editor from Brython where you can practice codes</p>

         {% if user.is_authenticated %}
         <a class="btn btn-primary" href="{% url 'editor' %}" role="button">Code Now!</a>
         {% else %}
         <a class="btn btn-primary" href="{% url 'login' %}" role="button">Code Now!</a>
         {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
