{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- WELCOME SECTION-->

  <div class="px-4 pt-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">What is Python Hunt ?</h1>
    <br>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Python Hunt is a open source website created to make python learning easier and faster. 
      <p class="lead mb-4">This is a Django project where you can contribute web pages explaining various concepts in python to X-Evolve , a organisation in Github which aims in  fostering open-source projects that tackle real-life problems</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="https://github.com/X-Evolve/Python_Hunt">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Contribute </button>
      </a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
           <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'plogo1.png' %}">
      </div>
    </div>
  </div>

<!-- INTRODUCTION -->

  <div class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">


        <img src="{% static 'coverpython.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Whats Python ??</h1>
        <br>  
        <p class="lead">Python is a widely used general-purpose, high level programming language. It was created by Guido van Rossum in 1991 and further developed by the Python Software Foundation. </p> 

        <p class = "lead">It was designed with an emphasis on code readability, and its syntax allows programmers to express their concepts in fewer lines of code.</p>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="https://docs.python.org/3/">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2"> Python documentation</button>
        </a>
        </div>
      </div>
      <hr>
    </div>
  </div>

<!-- Installation page -->

  <h1 class='display-5 fw-bold lh-1 mb-3' align='center'>Don't have python in your PC?!</h1><br>
  <h5 align='center'>Check out our Python3 installation page to install Python!</h5><br>
  <p align='center'>
  <a href="{% url 'installpy' %}" class="btn btn-primary btn-lg px-4 me-md-2" type="button">Installation Page</a>
  </p>
  <br>
{% endblock %}
