{% extends 'base.html' %}

{% block content %}
{% load static %}


<link rel="stylesheet" href="{% static 'Python_Keywords/Keywords.css' %}">
<title>Python Keywords</title>
<div class="keywords">
    <div class="heading">
        <h1>PYTHON KEYWORDS</h1>
    </div>
    <div class="details">
        Keywords are reserved identifiers that
        have special meanings and functionalities within the Python
        programming language. These keywords cannot be used as variable
        names or identifiers in your program. They are fundamental
        building blocks that define the language's syntax and
        structure.Understanding and using these keywords correctly is
        essential for effective programming and enables developers to
        create efficient, organized, and maintainable code. Python keywords
        are listed below
    </div>
    <div class="container">
        <table style="width: 100%;" class="table table-hover">
            <thead>
                <tr>
                    <th>Keywords</th>
                    <th>Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>True</td>
                    <td>The True in python is used to define true values. If
                        a given condition is true then python returns True.
                    </td>
                </tr>
                <tr>
                    <td>False</td>
                    <td>The False in python is used to define false values.
                        If a given condition is false then python returns
                        False.Python uses False, not false to define falsy
                        values.
                    </td>
                </tr>
                <tr>
                    <td>None</td>
                    <td>The None keyword is used to define the null value in
                        Python. (null means no value)
                        None value doesn't define 0 or '' (empty string), it
                        just means nothing is there.
                        None is also the default return value of a function
                        in python. This means if a function doesn't return
                        any value then it returns None.</td>
                </tr>
                <tr>
                    <td>and ( && )</td>
                    <td>and in python is used to check if both the
                        conditions are true
                    </td>
                </tr>
                <tr>
                    <td>or ( || )</td>
                    <td>or in python is used to check if either of the
                        conditions are true
                    </td>
                </tr>
                <tr>
                    <td>not ( ! )</td>
                    <td>not is used to reverse truth value of a condition
                    </td>
                </tr>
                <tr>
                    <td>is ( === )</td>
                    <td>is is used to check if two variables are equal</td>
                </tr>
                <tr>
                    <td>in</td>
                    <td> in checks if a value is present in a list or
                        dictionary</td>
                </tr>
                <tr>
                    <td>if</td>
                    <td>The if keyword is one of the most useful conditional
                        keywords in python. It executes a block of code
                        conditionally.</td>
                </tr>
                <tr>
                    <td>elif</td>
                    <td>The elif keyword is also part of conditional
                        statements. It is used when you have more than one
                        condition to check. If the first condition is false,
                        then it will provide another condition to check.</td>
                </tr>
                <tr>
                    <td>else</td>
                    <td>The else keyword is used in conditional statements
                        when none of the conditions is true.
                        It is the final block of code that will definitely
                        be executed if all the conditions are false.</td>
                </tr>
                <tr>
                    <td>for</td>
                    <td>The for keyword is used to create for loop in
                        python, which is the most used loop in python
                        programming.
                        A loop is used to execute a set of statements
                        multiple times. Suppose you want to print the
                        numbers from 1 to 100. Then you are not going to
                        print for individual number, but just start a loop
                        and it will do the same.</td>
                </tr>
                <tr>
                    <td>while</td>
                    <td>The while keyword is used to create a while loop in
                        python. While loop is used when you don't know the
                        number of iteration you need to perform but you know
                        the condition that will be true for a given number
                        of times.
                        For each iteration of the while loop, you check for
                        a condition if the condition is true then execute
                        the block of code otherwise terminate the loop.</td>
                </tr>
                <tr>
                    <td>break</td>
                    <td>The break keyword has a very significant role in
                        loops. It is used to terminate the loop when a
                        condition is met.
                        Think of an example where you want to add the first
                        100 numbers but want to stop the loop when the sum
                        is greater than 1000. In this case, you can use
                        break keyword to stop the loop by creating a
                        condition.</td>
                </tr>
                <tr>
                    <td>continue</td>
                    <td>The continue keyword is used to skip the current
                        iteration and continue with the next iteration.
                    </td>
                </tr>
                <tr>
                    <td>import</td>
                    <td>The import keyword is used to import a module in
                        python which is not readily available.
                        Once you import a module in your code then you can
                        use the features of that module in your code.</td>
                </tr>
                <tr>
                    <td>from</td>
                    <td>The from keyword instead of importing a whole
                        module, it only imports specific features from a
                        module.
                        Once you import a specific feature you can directly
                        use it without referring to the module name.</td>
                </tr>
                <tr>
                    <td>as</td>
                    <td>The as keyword is used to rename the imported
                        feature.
                        Renaming of modules is so frequent in python that
                        there are some community standard names for modules.
                        example pandas as pd, numpy as np, matplotlib as
                        plt, etc.</td>
                </tr>
                <tr>
                    <td>def</td>
                    <td>Function is a block of code which is used to perform
                        a specific task. It is also known as a subroutine.
                        In python, a function is defined using the def
                        keyword.
                        The def keyword is followed by the name of the
                        function and then the parentheses ().
                        The code inside the parentheses is the block of code
                        that is executed when the function is called.
                        The code inside the parentheses can have any number
                        of arguments and can have any number of statements.</td>
                </tr>
                <tr>
                    <td>class</td>
                    <td>Class is a block of code that behaves like a
                        blueprint for creating objects.
                        A class is defined using the class keyword followed
                        by the name of the class.</td>
                </tr>
                <tr>
                    <td>with</td>
                    <td>The with keyword is used to create a context
                        manager. It is used to create a context in which a
                        block of code can be executed.
                    </td>
                </tr>
                <tr>
                    <td>pass</td>
                    <td>The pass keyword is used to tell python that the
                        statement is intentionally left blank. It is used
                        when a statement is required syntactically but the
                        program requires no action. like a label in C.</td>
                </tr>
                <tr>
                    <td>lambda</td>
                    <td>The lambda keyword is used to create a lambda
                        function in python.
                        A lambda function is a small anonymous function. It
                        can take any number of arguments but can only have
                        one expression. The expression is executed and the
                        result is returned.
                        You can use a lambda function to pass a simple
                        function as an argument to another function.</td>
                </tr>
                <tr>
                    <td>return</td>
                    <td>The return keyword is used to return a value from a
                        function or method. The value returned from a
                        function or method is assigned to a variable.
                        The return keyword is followed by the value that is
                        to be returned from the function or method. Whenever
                        a function or method encounters the return keyword,
                        it stops executing and break out of the function or
                        method.</td>
                </tr>
                <tr>
                    <td>yield</td>
                    <td>The yield is used same as the return keyword but
                        unlike the return keyword it does not return a value
                        but returns a generator object.The generator object
                        is used to iterate over the values in a collection.
                        You can you next() function to get the next value
                        from the generator object.
                    </td>
                </tr>
                <tr>
                    <td>except</td>
                    <td>The except block lets you handle the error.</td>
                </tr>
                <tr>
                    <td>raise</td>
                    <td>The raise keyword is used to raise an exception.
                        You can define what kind of error to raise, and the
                        text to print to the user
                    </td>
                </tr>
                <tr>
                    <td>finally</td>
                    <td>Finally is executed even if there is an
                        error. This is useful in cleaning up the
                        resources.</td>
                </tr>
                <tr>
                    <td>return</td>
                    <td>return statement is used inside a function to
                        exit it and return a value.</td>
                </tr>
                <tr>
                    <td>global</td>
                    <td>global is used to declare that a variable inside
                        the function is global (outside the function).
                        If we need to read the value of a global
                        variable, it is not necessary to define it as
                        global. This is understood.
                        If we need to modify the value of a global
                        variable inside a function, then we must declare
                        it with global. Otherwise, a local variable with
                        that name is created.</td>
                </tr>
                <tr>
                    <td>nonlocal</td>
                    <td>The use of nonlocal keyword is very much similar
                        to the global keyword. nonlocal is used to
                        declare that a variable inside a nested function
                        (function inside a function) is not local to it,
                        meaning it lies in the outer inclosing function.
                        If we need to modify the value of a non-local
                        variable inside a nested function, then we must
                        declare it with nonlocal. Otherwise a local
                        variable with that name is created inside the
                        nested function</td>
                </tr>
                <tr>
                    <td>assert</td>
                    <td>assert is used for debugging purposes.
                        While programming, sometimes we wish to know the
                        internal state or check if our assumptions are
                        true. assert helps us do this and find bugs more
                        conveniently. assert is followed by a condition.
                        If the condition is true, nothing happens. But
                        if the condition is false, AssertionError is
                        raised.</td>
                </tr>
                <tr>
                    <td>del</td>
                    <td>del is used to delete the reference to an
                        object. Everything is object in Python. We can
                        delete a variable reference using del</td>
                </tr>
                <tr>
                    <td>await</td>
                    <td>The await keyword in Python is used within an
                        asynchronous function to pause the execution of
                        the function until an awaitable (typically a
                        coroutine) is completed and the result is ready.
                        It's an essential part of asynchronous
                        programming in Python and is often used with
                        async functions.</td>
                </tr>
                <tr>
                    <td>async</td>
                    <td>In Python, async is a keyword used to define
                        asynchronous functions, also known as
                        coroutines. Asynchronous functions allow you to
                        perform non-blocking operations, which is
                        crucial for I/O-bound or concurrent operations,
                        like network requests or reading from a file.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="heading" style="color: #61afef;">
        <h1>CODE SNIPPETS</h1>
    </div>
<div class="codes">
<div class="code-snippet">
<br />
<h2>1. If else and elif</h2>
<pre>
<code class="code-font">
x = 10

if x > 10:
    print("x is greater than 10")
elif x == 10:
    print("x is 10")
else:
    print("x is less than 10")
</code>
</pre>
</div>
<div class="code-snippet">
<h2>2. For</h2>
<pre>
<code class="code-font">
fruits = ['apple', 'banana', 'cherry']

for fruit in fruits:
    print(fruit)
</code>
</pre>
</div>
<div class="code-snippet"><h2>3. While</h2>
<pre>
<code class="code-font">
count = 0

while count < 5:
    print(count)
    count += 1

</code>
</pre>
</div>
<div class="code-snippet">
<h2>4. def</h2>
<pre>
<code class="code-font">
def greet(name):
    print("Hello, " + name)

greet("Alice")

</code>
</pre>
</div>
<div class="code-snippet">
<h2>5. return</h2>
<pre>
<code class="code-font">
def add(a, b):
    return a + b

result = add(3, 5)
print(result)  # Output: 8

</code>
</pre>
</div>
<div class="code-snippet">
<h2>6. try, except, finally:</h2>
<pre>
<code class="code-font">
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")
finally:
    print("Execution completed.")

</code>
</pre>
</div>
<div class="code-snippet">
<h2>7. class</h2>
<pre>
<code class="code-font">
class Person:
    def __init__(self, name):
    self.name = name
    
    def greet(self):
    print("Hello, " + self.name)

person = Person("John")
person.greet()

</code>
</pre>
</div>
<div class="code-snippet">
<h2>8. import</h2>
<pre>
<code class="code-font">
import math

print(math.sqrt(16))  # Output: 4.0

</code>
</pre>
</div>
<div class="code-snippet">
<h2>9. async and await</h2>
<pre>
<code class="code-font">
import asyncio

async def async_function():
    print("Async function started")
    result = await some_async_operation()
    print("Async function ended with result:", result)

async def some_async_operation():
    await asyncio.sleep(2)
    return "Async operation result"

asyncio.run(async_function())

</code>
</pre>
</div>
<div class="code-snippet">
<h2>10. break and continue:</h2>
<pre>
<code class="code-font">
# BREAK
for i in range(10):
    if i == 5:
        break  # Exit the loop when i is 5
    print(i)

#CONTINUE
for i in range(10):
    if i == 5:
        continue  # Skip this iteration when i is 5
    print(i)

</code>
</pre>
</div>
</div>
</div>
{% endblock %}
