{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- INTRODUCTION SECTION-->

  <div class="px-4 pt-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">What are Statements in Python ?</h1>
    <br>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">In Python, a statement is a command or instruction that the Python interpreter can execute. Python supports various types of statements, including assignment statements, conditional statements, and looping statements. </p>
      <p class="lead mb-4">These statements serve different purposes and enable the creation of complex programs with logical structures.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 50vh;">
      <div class="container px-5">
        <img src="{% static 'python-flow-control-statements.webp' %}" height="200px">
      </div>
    </div>
  </div>

<!-- TYPES  -->

<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom"> TYPES OF STATEMENT </h2>
  <br>
  <div class="row g-4 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis"> 1️⃣Conditional Statement</h3>
        <br>
        <p> Conditional statements in Python are used to make decisions in the code based on certain conditions. </p>
        <p>These statements allow the program to execute different blocks of code if it returns true.</p>
        <p> The conditional statements  include if, else, and elif . </p>
        <br>
        <a href="#featured-1" class="btn btn-primary">
          Know more
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2 text-body-emphasis"> 2️⃣Transfer Statement </h3>
        <br>
        <p>Transfer Statements include statements that affect the flow of the program. </p>
        <p>These statements determine which block of code gets executed and when.</p>
        <p>The transfer statement includes break , continue , pass.</p>
        <br>
        <a href="#featured-2" class="btn btn-primary">
          Know more 
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2 text-body-emphasis">3️⃣ Iterative Statement </h3>
        <br>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
        <p>We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <p>The iterative statement includes for and while.</p>
        <br>
        <a href="#featured-3" class="btn btn-primary">
          Know more 
        </a>
      </div>
    </div>
  </div>
</div>
<hr>

<!--  CONDITIONAL STATEMENTS-->

<div class="container px-4 " id="featured-1">
  <h2 class="pb-2 border-bottom">Conditional Statements </h2>
  <br>  
  <div class="row g-4 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
      </div>
      <h3 class="fs-2 text-body-emphasis">If Statement</h3>
      <p>The if statement is used to test a condition. If the condition is true, the indented block of code beneath it is executed. If the condition is false, the code block is skipped.</p>
      
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
      </div>
      <h3 class="fs-2 text-body-emphasis">Else Statement</h3>
      <p>The else statement is used in conjunction with an if statement. If the if condition is false, the code block under else is executed..</p>
      <p>

      </p>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
      </div>
      <h3 class="fs-2 text-body-emphasis">Elif Statement</h3>
      <p>The elif statement allows you to check multiple conditions in sequence. It is used when you have more than two possible outcomes.</p>
      <p>
      </p>
    </div>
  </div>
  <hr>
</div>

<!-- TRNSFER STATEMENTS -->

<div class="container px-4" id="featured-2">
  <h2 class="pb-2 border-bottom"> Tranfer Statements </h2>
  <br>
  <div class="row g-4 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <br>
      <h3 class="fs-2 text-body-emphasis">Break Statement</h3>
      <p>The break statement is used to exit a loop prematurely. It is commonly used in both for and while loops to terminate the loop and continue with the next statement after the loop.</p>  
    </div>
    <div class="feature col">
      <br>
      <h3 class="fs-2 text-body-emphasis">Continue Statement </h3>
      <p>The continue statement is used to skip the rest of the code inside a loop for the current iteration and move on to the next iteration. It is commonly used in both for and while loops.</p>
    </div>
    <div class="feature col">
      <br>
      <h3 class="fs-2 text-body-emphasis"> Pass Statement</h3>
      <p>The pass statement is a no-operation statement. It serves as a placeholder where syntactically some code is required but where no action is desired or necessary. It is often used as a stub or a placeholder for future code.</p>
    </div>
  </div>
  <hr>  
</div>

<!-- ITERATIVE STATEMENTS -->

<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom"> Iterative Statements </h2>
  <br>
  <div class="row g-4 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
      </div>
      <h3 class="fs-2 text-body-emphasis">For loop </h3>
      <p> The for loop is used to iterate over a sequence (such as a list, tuple, string, or range) or other iterable objects. </p>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
      </div>
      <h3 class="fs-2 text-body-emphasis"> While loop </h3>
      <p>The while loop is used to repeatedly execute a block of code as long as a given condition is true.</p>
    </div>
    <hr>
</div>

{% endblock %}


