{% extends 'base.html' %}
{% load static %}
{% block content %}
  
    <!-- INTRODUCTION SECTION-->

    <div class="px-4 pt-5 text-center border-bottom">
        <h1 class="display-4 fw-bold text-body-emphasis">What are Variables in Python ?</h1>
        <br>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Python variables are essential components in Python programming. They serve as containers for data, allowing you to store various types of information in your programs. </p>
          <p class="lead mb-4">Python's dynamic typing system automatically determines the data type based on the value you assign to the variable, providing flexibility and ease of use.</p>
        </div>
        <img src="/3_Open source/Python_Hunt/producthunt_pro/producthunt/static/variables_main.jpg" alt="dictionary" height ="300"  width="600" >
        </div>
      </div>
<div class = "container">
    <!-- TYPE CASTING -->
  
    <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
          <div class="container py-5">
            <h1 class="text-body-emphasis">Type Cating </h1>
            <p class="col-lg-8 mx-auto lead">
                Type casting, also known as data type conversion, is the process of changing the data type of a variable. Python provides functions to facilitate type casting. Let's look at an example where we convert an integer into a string using the <code>str()</code> function.
            </p>
            <p>
                num = 42
num_str = str(num)
            </p>
          </div>
        </div>
      </div>


    <!-- CASE SENSITIVITY-->

    <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
          <div class="container">
            <h1 class="text-body-emphasis">Case Sensitivity </h1>
            <p class="col-lg-8 mx-auto lead">
                Python is case-sensitive, meaning it distinguishes between lowercase and uppercase letters in variable names. This sensitivity results in different variables when capitalization varies. For instance, <code>my_var</code> and <code>my_Var</code> are considered as two separate variables.
            </p>
          </div>
        </div>
      </div>
</div>
<!---->

<div class="container col-xxl-8 px-4 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://th.bing.com/th/id/OIP.2LpNFMnp-mMN1alw_653igHaEK?pid=ImgDet&rs=1" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Example code </h1>
        <p class="lead">Let's explore Python variables with some example code:</p>

    <h6>name = "John"</h6>
    <h6>age = 30</h6>
    <h6>is_student = False</h6>
    
    <h6>print("Name:", name)</h6>
    <h6>print("Age:", age)</h6>
    <h6>print("Is Student:", is_student)</h6>
    
    <h6># Type Casting: Changing an Integer to a String</h6>
    <h6>num = 42</h6>
    <h6>num_str = str(num)</h6>
    
    <h6># Case-Sensitive Variable Names</h6>
    <h6>my_var = "Hello"</h6>
    <h6>my_Var = "World"</h6>
    
    <h6>print(my_var)  # Outputs: "Hello"</h6>
    <h6>print(my_Var)  # Outputs: "World"</h6>

      </div>
    </div>
  </div>
{% endblock %}
